.home{
  padding:10px;
  position:relative;
  display: flex;
  background-color: #244d4d;
  max-height: 700px;
  overflow: hidden;
  max-width: 100%;
 
}
.home .slide{
  background-color: pink;
  max-width: 700px;
  max-width: 100%;
  max-height: 700px;
  flex:1 1 10rem; 
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:2% 3%;
  overflow: hidden;
  
}
 .slide .content{
  animation:fade 1s ease-in-out;
  max-width: 100%;
}
@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .home .slide .content span{
    font-size: 1rem;
    color:var(--MAIN); 
  }
  
  .home  .slide .content h3{
    font-size: 3rem;
    color:var(--MAIN);
  
  }
  
  .home  .slide .content p{
    font-size: 1rem;
    color:var(--MAIN);
    padding:.5rem 0;
  }
  .home .slide .content .action{
    color: var(--MAIN);
  }
  .home .slide .content .action span{
    font-size: 1.6rem;
    color: var(--MAIN);
    font-weight: 900;
  }
  
  .home .slide .content .button{
   
    background-color:#244d4d;
    padding: 10px 60px;
    border-radius: 10px;
    color:pink;
    margin-top: 20px;
    font-weight: 800;
    font-size: 1.2rem;

  }
  .home .image{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:0;
  }
  @media (max-width: 1078px) {
    .home  .slide .content h3{
      font-size: 2.2rem;
      color:var(--MAIN);
    
    }
    .home .image{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      width: 55%;
    }
  }
