
.checkout-container {
    width:100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto ;
    padding: 40px ;
  
    .checkout-header {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 70%;
        margin: 0 20px;
  
        &:last-child {
          width: 8%;
        }
        .nbsp{
          white-space: nowrap;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
  }
  @media (max-width: 468px) {
    .total {
      font-size: 30px;
    }
    }
  
  