.sign-up-container {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 30px auto;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    .spinner-icon {
  
      animation: spin 1s linear infinite !important;
      color: #ffffff !important;
      font-size: 24px !important; 
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  
}