:root{
  --MAIN:#244d4d;
  --HOVER:#EDBE9D;
    
}

/*single product*/
.prodetails .single-pro-details h2 {
  font-size: 2rem;
 
}
.prodetails h4{
  font-size: 1.5rem;
}
.prodetails h6{
  font-size: 1.5rem;
}
 .single-pro-details span{
  font-size: 1rem;
}
.section-p1, .quant {
  padding: 40px 60px;
}

.prodetails{
  display: flex;
  margin-top:0;
  margin: 30px;
}
.prodetails .single-pro-image{
  width: 50%;
  margin-right: 50px;
  margin-top: 0;
 
}
.prodetails .small-pro-image{
  width: 100%;

 
}
.small-img-group{
  display: flex;
  justify-content:space-between;
  
}
.small-img-col{
  flex-basis: 50%;
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow:  .1rem .1rem rgba(.1,.1,.1,.1);
  padding: 1rem 2rem;
  margin: .1rem;
}
.prodetails .single-pro-details{
  width: 50%;
  padding: 5px 40px;
  margin: 20px 0;
}
.prodetails .single-pro-details h4{
  padding: 5px 0;
}
.prodetails .single-pro-details h2{
 font-size: 26px;
}
.prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.prodetails .single-pro-details input{
  width: 50px;
  height: 27px;
  font-size: 16px;
}
.prodetails .single-pro-details input:focus{
  outline: none;
}
.prodetails .single-pro-details button{
  background: #088178;
  color: white;
  margin: 20px 0;
}
.prodetails .single-pro-details .price{
  color:var(--MAIN);
  font-size: 1.5rem;
  font-weight: bolder;
  padding:1rem 0;
}

.prodetails .single-pro-details .past-price{
  color:RED;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.prodetails .single-pro-details .quantity{
  padding: 5px;
  color:#088178;
  font-weight: 900;

}
.prodetails .single-pro-details span{
  line-height: 15px;
}
.quant{
  display: flex;
}
.btnhs{
 display: flex;
 justify-content:space-evenly;
 margin-left: 0;
}
@media (max-width: 1078px) {
  
  .prodetails .single-pro-details button{
    background: #088178;
    color: white;
    margin: 20px 20px;
  }
}
@media (max-width: 990px) {
  
  .prodetails{
    flex-direction: column;
  }
  .prodetails .single-pro-image{
    width: 60%;
    margin: auto;
}
.small-img-col{
  flex-basis: 100%;
}
.prodetails .single-pro-details{
  width: 100%;
  padding: 5px 20px;
}
.prodetails .single-pro-details button{
  margin:20px 0;
}
}
@media (max-width: 780px) {
  .prodetails .single-pro-image{
     margin-right: 300px;
  }
  .prodetails .small-pro-image{
    width: 250%;
    align-items: center;
    justify-content: center;
  
  }
  .small-img-col{
    min-width: 150px;
    margin: 1rem .1rem;
    padding: 1rem 3rem;
  
  }

}
@media (max-width: 538px) {
  
  .prodetails .single-pro-details button{
    margin:20px 10px;
    font-size: .7rem;
  }
}
@media (max-width: 516px) {
  
  .prodetails .small-pro-image{
    width: 200%;
   
  
  }
  .small-img-col{
    min-width: 140px;
    margin: 1rem .1rem;
    padding: 1rem 3.1rem;
  
  }

}
 @media (max-width: 470px) {
  
  .prodetails .small-pro-image{
    width: 200%;
  }
  .small-img-col{
    min-width: 120px;
    padding: 1rem 3rem;
  
   
  
  }
} 
 
@media (max-width: 430px) {
  
  .prodetails .single-pro-details button{
   width: 30%;
  }
}
 @media (max-width: 412px) {
  .prodetails .single-pro-image{
    margin-left: 50px;
 }
 
  .prodetails .small-pro-image{
    width: 180%;
  }
  .small-img-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: space-around;
  }
}  
@media (max-width: 388px) {
  
  .btnhs{
   flex-direction: column;
   margin: auto;
  }
}



