/*single product*/
#prodetails .single-pro-details h2{
    font-size: 2.5rem;
  }
  #prodetails h4{
    font-size: 2rem;
  }
  #prodetails h6{
    font-size: 2rem;
  }
   .single-pro-details span{
    font-size: 1.5rem;
  }
  .section-p1 {
    padding: 40px 80px;
  }
  
  #prodetails{
    display: flex;
    margin-top: 20px;
    padding-top: 10rem;
  }
  #prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
   
  }
  .small-img-group{
    display: flex;
    justify-content:space-between;
    
  }
  .small-img-col{
    flex-basis: 25%;
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow:  .1rem .1rem rgba(.1,.1,.1,.1);
    padding: 1rem 2rem;
    margin:.1rem;
  }
  #prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
  }
  #prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
  }
  #prodetails .single-pro-details h2{
   font-size: 26px;
  }
  #prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  #prodetails .single-pro-details input{
    width: 50px;
    height: 27px;
    padding-left: 10px;
    font-size: 16px;
    margin-right:10px;
  }
  #prodetails .single-pro-details input:focus{
    outline: none;
  }
  #prodetails .single-pro-details button{
    background: #088178;
    color: white;
  }
  #prodetails .single-pro-details span{
    line-height: 25px;
  }
  .quant{
    display: flex;
  }