.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* gap: 20px; 
  margin: 20px 10px;
  height: 100%;
  overflow-x:hidden; */
  column-gap: 20px;
  row-gap: 50px;
}
@media (max-width: 890px) {
  .products{
    grid-template-columns: repeat(2, 1fr); 
  }
}