.navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    max-height: fit-content;
  z-index: 1000;
  margin-bottom: 0;
  
  
    
    
  }
 
  .navbar a{
    text-decoration: none;
    font-size:1.3rem;
    font-weight: 700;
    color: #2D2D2D;
    transition: 0.3s ease;
    list-style: none;
    padding: 0 20px;
    position: relative;
  
    
  }
  
  .navbar  a:hover,
  .navbar  a.active{
    color:#40867b;
  
  }
  
  .navbar a.active::after,
  .navbar a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #40867b;;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
 