.footer .box-container{
  border:.1rem solid rgba(0,0,0,.1);
  background:var(--MAIN);
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  padding: 10px;
}

.footer .box-container .box{
  flex:1 1 2rem;
}

.footer .box-container .box h3{
  color:#f9f9f9;
  font-size: 1.5rem;
  padding-bottom: .1rem;
}

.footer .box-container .box a{
  color:#f9f9f9;
  font-size: 1rem;
  padding-bottom: .5rem;
  display: block;
  text-decoration: none;
}

.footer .box-container .box a:hover{
  color:var(--HOVER);
}

 .footer .box-container .credit{
  text-align: center;
  width:100%;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 1.5rem;
  padding:1rem;
  padding-top: 0.5rem;
  color:#f9f9f9; 
  background-color: var(--MAIN);
}

.footer .box-container .credit span{
  color:var(--MAIN);
} 
@media (max-width: 1075px) {
  footer {
    padding: 20px;
    
  }


}