html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
  .layout {
    height: 100%;
    display: flex; 
    flex-direction: column; 
  }
  
  
  .Header, .Footer {
    flex: 0 0 auto; 
  }
  
  .Herosection, .Outlet {
    flex: 1 1 auto; 
  }
  main{
    margin-top: 40px;
  }
  @media (max-width: 831px) {

    main{
      margin-top:0;
    }
  }
 